.account-verification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: var(--font-family);
    height: 90vh;
    gap: 1rem;
  }
  
  .verified-image {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .account-verification-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .account-verification-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .dashboard-btn {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: rgb(51, 187, 207);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-btn:hover {
    background-color: rgb(51, 187, 207, 0.7);
  }
  