.dash__menubar {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px; /* Set fixed width */
    max-width: 250px; /* Ensure it doesn't grow beyond 250px */
    min-width: 250px; /* Ensure it doesn't shrink below 250px */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    box-shadow: 0 4px 8px 1px rgba(255, 255, 255, 0.2);
}

.dash__menuitems {
    margin-left: -1rem;
}

.img {
    padding-left: 3.5rem;
    padding-top: 2rem;
}
